<h2>Financial Times</h2>
<form action="/">
    <div>
        <label for="search" class="visually-hidden">Search</label>
        <input type="search" class="searchTerm" name="search" id="search" placeholder="Search an article">
        <button class="searchTerm">Search</button>
    </div>
</form>

<ul>
    {{#each articlesInformation}}
        <li class="article-title">{{this.title.title}}</li>
        <p>{{this.summary.excerpt}}</p>
        <a aria-label="Link to the full article" href="{{this.location.uri}}">read more</a>
    {{/each}}
</ul>