.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    background-color: #FFF1E5;
    color: #262a33;
    text-align: center;
    font-family: 'Times New Roman',serif;
}

h1 {
    font-size: 4em;
    text-align: center;
    border-bottom: #262a33 solid 2px;
}  

.searchTerm {
    height: 3em;
    color: #262a33;
}

.article-title{
    list-style: none;
}
